body {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    padding-bottom: 50px;
    text-decoration: none;
    background-color: rgb(11, 91, 11);
    font-size: large;  
    text-align: center;
    margin: 250px auto auto auto;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 1200px;
}

.textodapagina {
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.my_btn {
    border: none;      
    color: rgb(0, 0, 0);      
    padding: 16px 32px;    
    display: inline-block;      
    font-size: 20px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    background-color: rgb(167, 170, 172);
    font-family: 'Grenze-Gotisch';
    border-radius: 40px;
    border-style: solid;
}

.my_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(167, 170, 172);
    transform: scale(1.1);
}

.bola {
    max-width:400px;
    max-height:90px;
    width: auto;
    height: auto;
}