*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .board {
    height: 85vh;
    width: 80vw;
    background-color: rgb(13, 197, 13);
    border-radius: 14px;
  }
  
  .ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-image: url("boll.jpeg");
  }
  
  .ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    background-image: url("boll.jpeg");
    border: 1px solid black;
  }
  
  @keyframes spinBall {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .paddle {
    height: 100px;
    width: 18px;
    border-radius: 5%;
    position: fixed;
  }
  
  .paddle_1 {
    top: calc(40vh);
    left: calc(12vw);
    box-shadow: inset 0 0 18px white,
    inset 6px 0 18px white,
      inset -6px 0 18px white, 
      inset 6px 0 30px white;
    border: 1px solid black;
  }
  
  .paddle_2 {
    top: calc(40vh);
    right: calc(12vw);
    box-shadow: inset 0 0 18px black, 
      inset 6px 0 18px black,
      inset -6px 0 18px black, 
      inset 6px 0 30px black;
    border: 1px solid white;
  }
  
  .player_1_score {
    height: 50px;
    width: 50px;
    color: white;
    position: fixed;
    left: 30vw;
    margin-top: -40px;
  }
  
  .player_2_score {
    height: 50px;
    width: 50px;
    color: white;
    position: fixed;
    left: 70vw;
    margin-top: -40px;
  }
  
  .message {
    font-size: large;
    position: fixed;
    height: 10vh;
    width: 30vw;
    color: white;
    left: 38vw;
    margin: -30px auto auto auto;
  }